{% extends "after_login.html" %}
{% block title %}Vaccinations{% endblock %}
{% block content %}
<script type="text/javascript">
    const message = '{{message}}';
    if (message != "empty") {
        if (message == "success") {
            window.alert("Data successfully updated.");
            window.location.href = "/vaccinations";
        }
        else {
            window.alert("Data could not be updated. Please control the values and try again!.");
            const urlStr = window.location.search;
            let urlPage = new URLSearchParams(urlStr);
            window.location.href = "/update-vaccinations?id="+urlPage.get("id");
        }
    }

</script>
<h2 class="container my-4">Update Vaccinations</h2>
<div class="container my-4">
    <form action="/update-vaccinations?id={{id}}" method="POST">
        <div class="mb-3">
            <label for="total_vaccinations" class="form-label">Total Vaccinations</label>
            <div class="d-flex">
                <input type="text" name="total_vaccinations" class="form-control" style="width: 30%;" id="total_vaccinations"
                    aria-describedby="emailHelp" placeholder="{{data[2]}}">
                </div>
        </div>
        <div class="mb-3">
            <label for="people_vaccinated" class="form-label">People Vaccinated</label>
            <div class="d-flex">
                <input type="text" name="people_vaccinated" class="form-control" style="width: 30%;" id="people_vaccinated"
                    aria-describedby="emailHelp" placeholder="{{data[3]}}">
            </div>
        </div>
        <div class="mb-3">
            <label for="people_fully_vaccinated" class="form-label">People Fully Vaccinated</label>
            <div class="d-flex">
                <input type="text" name="people_fully_vaccinated" class="form-control" style="width: 30%;"
                    id="people_fully_vaccinated" aria-describedby="emailHelp" placeholder="{{data[4]}}">
            </div>
        </div>
        <div class="mb-3">
            <label for="total_boosters" class="form-label">Total Boosters</label>
            <div class="d-flex">
                <input type="text" name="total_boosters" class="form-control" style="width: 30%;"
                    id="total_boosters" aria-describedby="emailHelp" placeholder="{{data[5]}}">
            </div>
        </div>
        <div class="mb-3">
            <label for="new_vaccinations" class="form-label">New Vaccinations</label>
            <div class="d-flex">
                <input type="text" name="new_vaccinations" class="form-control" style="width: 30%;"
                    id="new_vaccinations" aria-describedby="emailHelp" placeholder="{{data[6]}}">
            </div>
        </div>
        <div class="mb-3">
            <label for="new_vaccinations_smoothed" class="form-label">New Vaccinations Smoothed</label>
            <div class="d-flex">
                <input type="text" name="new_vaccinations_smoothed" class="form-control" style="width: 30%;" id="new_vaccinations_smoothed"
                    aria-describedby="emailHelp" placeholder="{{data[7]}}">
            </div>
        </div>
        <div class="mb-3">
            <label for="date_time" class="form-label">Date (yyyy-mm-dd)</label>
            <div class="d-flex">
                <input type="text" name="date_time" class="form-control" style="width: 30%;" id="date_time"
                    aria-describedby="emailHelp" placeholder="{{data[8]}}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update Data</button>
        <button type="button" href="#" onclick="document.location.href= '/vaccinations'" class="btn btn-primary">Back</button>
    </form>
</div>
{% endblock %}