{% extends "after_login.html" %}
{% block title %}Vaccinations{% endblock %}
{% block content %}
<script type="text/javascript">
    function goNewDirect(pageToggle, page, loc) {

        locStr = "";
        if (loc != null && loc != '')
            locStr = "&loc_name=" + loc;

        if (page == null) {
            window.location.href = "/vaccinations?page=2" + locStr;
        }
        else {
            if (pageToggle == -1)
                window.location.href = "/vaccinations?page=" + parseInt(page).toString() + locStr;
            if (pageToggle == 0 && parseInt(page) - 1 >= 1) 
                window.location.href = "/vaccinations?page=" + (parseInt(page) - 1).toString() + locStr;
            if (pageToggle == 1)
                window.location.href = "/vaccinations?page=" + (parseInt(page) + 1).toString() + locStr;
        }
    }

    function changePage(pageToggle) {
        const urlStr = window.location.search;
        let urlPage = new URLSearchParams(urlStr);

        goNewDirect(pageToggle, urlPage.get('page'), urlPage.get("loc_name"));
    }

    function checkIfSelected(element) {
        if (element.value == 'Choose...') {
            alert("Choose !!");
            return false;
        }
        return true;
    }
    function filterCountry() {
        let location = document.getElementById("inputGroupSelect01");
        if (checkIfSelected(location) == false)
            return;
        const urlStr = window.location.search;
        let urlPage = new URLSearchParams(urlStr);

        goNewDirect(-1, 1, location.value);
    }

    function reset(type) {
        document.location.href = '/vaccinations'
    }

    function deleteRow(row) {
        const urlStr = window.location.search;
        let urlPage = new URLSearchParams(urlStr);
        if (row.value != "")
            window.location.href = "/vaccinations/" + row.value + "?" + urlPage;
        else
            window.location.href = "/vaccinations?" + urlPage;
    }

</script>
<div class="container">
    <div class="row d-flex mt-2">
        <div class="input-group col">
            <select class="form-select" id="inputGroupSelect01" aria-label="Example select with button addon">
                <option selected>Choose...</option>
                {% for loc in locations%}
                <option value={{loc}}>{{loc}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-outline-secondary" type="button" onclick="filterCountry()">Filter</button>
            <button class="btn btn-outline-secondary" id="resetGroupButton02" onclick="reset('l')"
                type="button">Reset</button>
        </div>
        <div class="col">
            <button class="btn btn-outline-secondary" type="button"
                onclick="document.location.href = '/update-vaccinations' ">Update</button>
            <button class="btn btn-outline-secondary" type="button"
                onclick="document.location.href = '/add-vaccinations' ">Add</button>
        </div>
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end mb-0">
                    <li class="page-item"><button class="btn btn-outline-secondary" style="margin-right: 5px;"
                            onclick="changePage(0)" type="button">PREV</button></li>
                    <li class="page-item"><button class="btn btn-outline-secondary" onclick="changePage(1)"
                            type="button">NEXT</button></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row my-3 mx-0">
        <table class="table align-middle table-striped table-hover">
            <thead>
                <tr class="align-bottom">

                    {% for head in table_headers %}
                    <th scope="col">"{{head}}"</th>
                    {% endfor %}
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_rows%}
                <tr class="align-items-center">
                    {% for cell in row[1:] %}
                    <td>
                        <div class="data">
                            {{cell}}
                        </div>
                    </td>
                    {% endfor %}
                    <td>
                        <div class="data">
                            <button class="btn btn-outline-secondary" style="background-color: red;" href="#"
                                id="delete{{ row[0] }}" value="{{ row[0] }}"
                                onclick="deleteRow(document.getElementById('delete{{ row[0] }}'))" type="button"><i
                                    class="bi bi-trash" style="color: white;"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}