.selfButton {
    width: 20%;
    background-color: #1f76b4;
    border-color: #1f76b4;
}

.selfButton:hover {
    background-color: #004c99;
}

input[id="adminPassword"] {
    visibility:hidden;
}


input[type=checkbox]:checked + input[id="adminPassword"] {
    visibility:visible;
}