@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
}

.content-container{
    min-height: 80vh;
    overflow-x: hidden;
    margin-top: 3rem;
}

.country-card{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countries-card-link, .home-card{
    transition: all 0.2s ease-out;
    border-radius: .25rem;
}

.countries-card-link:hover, .home-card:hover{
    box-shadow: #5b5b5b 0px 0px 5px 0px;
}

.home-card{
    height: 120px;
    width: 35%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    margin-right: 0.5rem;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}

.account-settings .about p {
    font-size: 0.825rem;
}

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.mask .card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}