{% extends "before_login.html" %}
{% block title %}Covid19 General Info{% endblock %}
{% block content %}
<div class="content-container">
    <div class="container mx-auto">
        <h3 class="text-center fw-bold mb-5"
            style="color: #173364ff; font-size: 350%; font-style: italic;margin-top: 5%;">General Information about
            Covid19</h3>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary"
                    style="width: 75%;height: 75%;margin-left: 12%; margin-top: 25%;margin-bottom: 25%;"
                    data-toggle="button" aria-pressed="false" autocomplete="off">
                    <a href="/locations" style="
                    text-decoration: none;color: whitesmoke; font-size: 225%;">Locations</a>
                </button>
            </div>

            <div class="col">
                <button type="button" class="btn btn-secondary"
                    style="width: 75%;height: 75%;margin-left: 12%; margin-top: 25%;margin-bottom: 25%;"
                    data-toggle="button" aria-pressed="false" autocomplete="off">
                    <a href="/cases" style="
                    text-decoration: none;color: whitesmoke; font-size: 225%;">Cases</a>
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary"
                    style="width: 75%;height: 75%;margin-left: 12%; margin-top: 25%;margin-bottom: 25%;"
                    data-toggle="button" aria-pressed="false" autocomplete="off">
                    <a href="/tests" style="
                    text-decoration: none;color: whitesmoke; font-size: 225%;">Tests</a>
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <button type="button" class="btn btn-secondary"
                    style="width: 75%;height: 75%;margin-left: 12%; margin-top: 25%;margin-bottom: 25%;"
                    data-toggle="button" aria-pressed="false" autocomplete="off">
                    <a href="/patients" style="
                    text-decoration: none;color:whitesmoke; font-size: 225%;">Patients</a>
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary"
                    style="width: 75%;height: 75%;margin-left: 12%; margin-top: 25%;margin-bottom: 25%;"
                    data-toggle="button" aria-pressed="false" autocomplete="off">
                    <a href="/deaths" style="
                text-decoration: none;color: whitesmoke; font-size: 225%;">Deaths</a>
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary"
                    style="width: 75%;height: 75%;margin-left: 12%; margin-top: 25%;margin-bottom: 25%;"
                    data-toggle="button" aria-pressed="false" autocomplete="off">
                    <a href="/vaccinations" style="
                text-decoration: none;color: whitesmoke; font-size: 225%;">Vaccinations</a>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}