{% extends "before_login.html" %}
{% block title %}Covid19 General Info{% endblock %}
{% block content %}
<div class="content-container">
    <div class="container mx-auto">
        <h3 class="text-center fw-bold mb-5"
            style="color: #173364ff; font-size: 350%; font-style: italic;margin-top: 5%;">General Information about
            Covid19</h3>
        <div class="row">
            <div class="col">
                <a href="/locations" style="
                    text-decoration: none;color: whitesmoke; font-size: 30px;">
                <button type="button" class="btn btn-secondary"
                    style="width: 75%;height: 200px;margin-left: 12%; margin-top: 25%;margin-bottom: 25%; font-size: 30px;"
                    data-toggle="button" aria-pressed="false" autocomplete="off">
                    Locations
                </button></a>
            </div>
            <div class="col">
                <a href="/patients" style="
                    text-decoration: none;color: whitesmoke; font-size: 30px;">
                <button type="button" class="btn btn-secondary"
                    style="width: 75%;height: 200px;margin-left: 12%; margin-top: 25%;margin-bottom: 25%; font-size: 30px;"
                    data-toggle="button" aria-pressed="false" autocomplete="off">
                    Patients
                </button></a>
            </div>
            <div class="col">
                <a href="/tests" style="
                    text-decoration: none;color: whitesmoke; font-size: 30px;">
                <button type="button" class="btn btn-secondary"
                    style="width: 75%;height: 200px;margin-left: 12%; margin-top: 25%;margin-bottom: 25%; font-size: 30px;"
                    data-toggle="button" aria-pressed="false" autocomplete="off">
                    Tests
                </button></a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <a href="/cases" style="
                    text-decoration: none;color: whitesmoke; font-size: 30px;">
                <button type="button" class="btn btn-secondary"
                    style="width: 75%;height: 200px;margin-left: 12%; margin-top: 25%;margin-bottom: 50%; font-size: 30px;"
                    data-toggle="button" aria-pressed="false" autocomplete="off">
                    Cases
                </button></a>
            </div>
            <div class="col">
                <a href="/vaccinations" style="
                    text-decoration: none;color: whitesmoke; font-size: 30px;">
                <button type="button" class="btn btn-secondary"
                    style="width: 75%;height: 200px;margin-left: 12%; margin-top: 25%;margin-bottom: 50%; font-size: 30px;"
                    data-toggle="button" aria-pressed="false" autocomplete="off">
                    Vaccinations
                </button></a>
            </div>
            <div class="col">
                <a href="/deaths" style="
                    text-decoration: none;color: whitesmoke; font-size: 30px;">
                <button type="button" class="btn btn-secondary"
                    style="width: 75%;height: 200px;margin-left: 12%; margin-top: 25%;margin-bottom: 50%; font-size: 30px;"
                    data-toggle="button" aria-pressed="false" autocomplete="off">
                    Deaths
                </button></a>
            </div>            
        </div>
    </div>
</div>
{% endblock %}