{% extends "before_login.html" %}
{% block title %}Country{% endblock %}
{% block content %}

<div class="container d-flex align-items-top mt-5 min-vh-100 justify-content-center">
    <div class="row w-100">
        <aside class="col-sm-4"></aside>
        <aside class="col-sm-4 ">
            <div class="card ">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Login</h4>
                    <form action="/login" method="post">
                        <div class="form-group my-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text h-100"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="email" class="form-control" placeholder="Email" id="email" type="email">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text h-100"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input name="password" id="password" class="form-control" placeholder="************"
                                    type="password">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-primary btn-block"> Login </button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->
            <ul>
                <li><a href="{{ url_for('locations_page') }}">HACK THE SYSTEM</a></li>
            </ul>

        </aside> <!-- col.// -->
        <aside class="col-sm-4"></aside>

    </div> <!-- row.// -->

</div>
<!--container end.//-->
{% endblock %}