{% extends "before_login.html" %}
{% block title %}Country{% endblock %}
{% block content %}


<div class="mx-auto m-3 p-3" style="width: 25%;">
  {% with messages = get_flashed_messages() %}
  {% if messages %}

  {% for message in messages %}
  <p class="text-danger text-start fs-3 fw-bold">{{message}}</p>
  {% endfor %}

  {% endif %}
  {% endwith %}
  <ul class="nav nav-pills" id="myTab">
    <li class="nav-item" style="width: 25%;">
      <a href="#login" class="nav-link active" data-bs-toggle="tab">Login</a>
    </li>
    <li class="nav-item" style="width: 25%;">
      <a href="#register" class="nav-link" data-bs-toggle="tab">Register</a>
    </li>
  </ul>
  <br />

  <div class="tab-content">
    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="tab-login">
      <form action="/?check=True" method="POST">

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="loginName" name="mailLogin" class="form-control" />
          <label class="form-label" for="loginName">Email or username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="loginPassword" name="passwordLogin" class="form-control" />
          <label class="form-label" for="loginPassword">Password</label>
        </div>

        <!-- 2 column grid layout -->

        <!-- Submit button -->
        <button id="loginButton" type="submit" class="btn btn-primary btn-block mb-4">Submit</button>

      </form>
    </div>
    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="tab-register">
      <form action="/?check=False" method="POST">

        <!-- Name input -->
        <div class="form-outline mb-4">
          <input type="text" id="registerName" name="name" class="form-control" />
          <label class="form-label" for="registerName">Name</label>
        </div>

        <!-- Username input -->
        <div class="form-outline mb-4">
          <input type="text" id="regiterSurName" name="surname" class="form-control" />
          <label class="form-label" for="regiterSurName">Surname</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="registerEmail" name="mail" class="form-control" />
          <label class="form-label" for="registerEmail">Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerPassword" name="password" class="form-control" />
          <label class="form-label" for="registerPassword">Password</label>
        </div>

        <!-- Repeat Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerRepeatPassword" name="password2" class="form-control" />
          <label class="form-label" for="registerRepeatPassword">Repeat password</label>
        </div>

        <!-- Checkbox -->

        <label class="form-label" for="loginPassword">Login as admin</label>
        <input type="checkbox" name="isAdmin" />
        <input type="password" id="adminPassword" name="adminPassword" placeholder="admin password" /> <br /> <br />

        <!-- Submit button -->
        <button id="registerButton" type="submit" class="btn btn-primary btn-block mb-3">Submit</button>
      </form>
    </div>
  </div>
  {% endblock %}